.ol-viewport {
  min-height: 640px;
  height: 100%;
  width: 100%;
}

.detail-map .ol-viewport {
  min-height: 330px;
  height: 100%;
  width: 100%;
}

.ol-control {
  position: sticky;
  padding-left: 10px;
  background-color: transparent;
}

.ol-control button {
  background-color: rgb(25, 118, 210);
}

.ol-control:hover {
  background-color: transparent;
}

.MuiSvgIcon-root {
  width: 10px;
}

.MuiAutocomplete-root {
  min-width: none;
  margin: 0px;
}
